﻿.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display:none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display:none;
}