﻿@model IEnumerable<sinavsonucuygulamasi.Models.Sonuc>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Başarılı Öğrenciler</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center p-2">
        <h3>Başarılı Öğrenciler</h3>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>OgrenciNo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (sinavsonucuygulamasi.Models.Sonuc x in Model)
                {
                    <tr>
                        <td>@x.Ad</td>
                        <td>@x.Soyad</td>
                        <td>@x.OgrenciNo</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</body>
</html>
