﻿@{
    //    ViewData["Title"] = "Home Page";
    Layout = null;
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Merhaba</h1>
        <p>Sınav Sonuç Uygulamasına Hoşgeldiniz...</p>


        <br />
        <a class="btn btn-primary" asp-action="SinavSonucFormu">Sınav Sonuç Formu İçin Tıklayınız</a>

        <br />
        <br />
        <h6>Bugra Demir</h6>
    </div>
</body>
</html>
