﻿@model sinavsonucuygulamasi.Models.Sonuc
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SinavSonucFormu</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h5 class="bg-primary text-white text-center m-2 p-2">Sınav Sonuç Formu</h5>
    <form asp-action="SinavSonucFormu" method="post" class="m-2">
        <div  asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Ad">Ad:</label>
            <input asp-for="Ad" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Soyad">Soyad:</label>
            <input asp-for="Soyad" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="OgrenciNo">Ogrenci No:</label>
            <input asp-for="OgrenciNo" class="form-control" />
        </div>

        <div class="form-group">
            <label>Ogrenci sinavda basarili oldu mu?</label>
            <select asp-for="SinavSonucu" class="form-control">
                <option value="">Lütfen bir seçim yapınız.</option>
                <option value="true">Evet</option>
                <option value="false">Hayır</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Cevabı Gönder</button>

    </form>
</body>
</html>
