﻿@model sinavsonucuygulamasi.Models.Sonuc
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tesekkurler</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="text-center">
    <div>
        <h1>@Model.Ad @Model.Soyad isimli @Model.OgrenciNo numaralı öğrenci için sınav sonucu kaydedildi. </h1>
        @if(Model.SinavSonucu == true)
        {
            @: Öğrenci başarı durumu; Başarılı olarak kaydedildi. Tebrikler. :)
        }
        else
        {
            @: Öğrenci başarı durumu; Başarısız olarak kaydedildi. Daha çok çalışmalı :( 
        }
    </div>

    Başarılı öğrenciler listesini görmek için lütfen <a asp-action="BasariliOgrencileriListele">buraya</a> tıklayın.

    <br />
    <br />

    Yeni not girişi yapmak için <a asp-action="SinavSonucFormu">>tıklayınız.</a>

</body>
</html>
